@import "../componentes/body";
@import "../componentes/nav";

header {
  background-image: url(/HTML/img/tecnologia/foguete.jpg);
  background-position: center;
  background-size: cover;
  background-position-y: center;
  min-height: 90vh;
  text-align: center;
  h1 {
    margin: 0;
    padding: 160px 0 0 0;
    color: yellow;
    text-shadow: 1px 1px 1px black;
  }
  h2 {
    margin: 5px;
    padding: 14px 310px;
    color: #f1f1f1;
    text-shadow: 1px 1px 1px black;
  }
}
main {
  * {
    box-sizing: border-box;
  }

  .timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
  }

  .timeline::after {
    content: "";
    position: absolute;
    width: 6px;
    background-color: yellow;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
  }

  .container {
    padding: 10px 40px;
    position: relative;
    width: 50%;
  }

  .container::after {
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: yellow;
    border: 4px solid rgb(99, 99, 0);
    top: 15px;
    border-radius: 50%;
    z-index: 1;
  }

  .left {
    left: 0;
  }

  .right {
    left: 50%;
  }

  .left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid;
    border-width: 10px 0 10px 10px;
    border-color: transparent rgba(137, 138, 112, 0.87);;
  }

  .right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid;
    border-width: 10px 10px 10px 0;
    border-color: transparent rgba(137, 138, 112, 0.87);;
  }

  .right::after {
    left: -16px;
  }

  .content {
    padding: 20px 30px;
    background-color: rgba(137, 138, 112, 0.87);
    color: #f1f1f1;
    text-shadow: 1px 1px 1px black;
    position: relative;
    border-radius: 6px;
  }
}
.img{
  width: 460px;
}
.tag_a{
  text-decoration: none;
  padding: 20px;
  color: #f1f1f1;
}
@import "../componentes/footer";
