nav {
  background-color: rgba(0, 0, 0, 0.856);
  position: relative;
  color: yellow;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  border-bottom: 3px solid rgba(255, 255, 0, 0.308);

  #foguete {
    width: 80px;
    padding-right: 10px;
  }
  #logo {
    width: 160px;
    padding-right: 10px;
  }

  .logotipo {
    display: flex;
    padding: 20px 50px;
    align-items: center;
  }
  ul {
    display: flex;
    margin: 0px 50px;
    list-style: none;
  }
  li {
    margin: 20px;
  }
  .marcador a {
    color: white;
    font-weight: 700;
  }
  a {
    color: yellow;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 15px;
  }

  .sair{
    height: 40px;
    padding-top: 10px;
    padding-left: 11px;
  }
  }

  .logado{
    position: absolute;
    top: 0px;
    right: 58px;
  }
#falcon {
  padding: 0px;
  margin: 0px;
  position: fixed;
  bottom: 4%;
  right: -35px;
  cursor: pointer;

  #icon_falcon {
    height: 120px;
  }
}
